.deetiForm {
    .container {
        border: 1px dashed #d1d1d1;
        margin: 20px auto;
        min-height: 50px;
        width: 70%;
        padding: 20px;
    }
    .subtitle {
        font-family: 'Lato';
        font-size: 20px;
        margin: 0;
        padding: 0px 5px 15px;
    }
    .wordsResult {
        .result {
            display: inline-block;
            padding: 5px;
            position: relative;
            .word {
                border: 1px solid #c3c3c3;
                color: #4FA846;
                font-family: 'Lato';
                font-size: 16px;
                line-height: 1.3;
                margin: 0;
                padding: 5px 15px;
                text-align: center;
            }
            .hasError {
                color: #DC4245;
                font-family: 'Lato-Bold';
            }
        }
    }
    .form-inputs {
        border: 1px solid #d1d1d1;
        margin: 20px auto;
        padding: 25px 20px;
        position: relative;
        width: 70%;
        .full-width {
            display: block;
            position: relative;
            width: 100%;
            .form-control {
                font-family: 'Lato';
            }
        }
        .submitButton {
            background-color: #007bff;
            border-color: #007bff;
            box-shadow: none;
            font-family: 'Lato-Bold';
            color: #fff;
            cursor: pointer;
            font-size: 18px;
            padding: 10px 0;
            outline: none;
            text-align: center;
            width: 100%;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            &:active,
            &:focus {
                box-shadow: none;
                outline: none;
            }
            &:disabled {
                background-color: #cccccc;
                border: 1px solid #999999;
                color: #fff;
                cursor: default;
            }
        }
    }
    .clearfix {
        &::after {
            display: block;
            content: "";
            clear: both;
        }
    }
}